.button.question-button{
    background-color: #e74c3c;
    color: #ffff;
    border-color: transparent;
}

.button.cancel-question-button{
    background-color: #ecf0f1;
    color: #2c3e50;
    border-color: transparent;
}

.field.questions-list{
    margin-left: 3%;
}

.form{
    background-color: #ffff;
}

.alice-carousel{
    width: 50% !important;
}
.card-header-title{
    flex-grow: 0 !important;
}
.questions{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.add-question{
    color: #e74c3c;
    font-weight: 400;
    cursor: pointer;
}

.content.form-description{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0% 10%;
    flex-direction: column;
    text-align: center;
}

.list-forms{
    margin-bottom: 2px;
}